## Investigating DAIC-WOZ Data

In the following, I conduced some general EDA/unpacking of selected datapoints from the DAIC Corpus

In [1]:
import pandas as pd

In [2]:
tr_300 = pd.read_csv('../data/300_TRANSCRIPT.csv',sep = '\\t',engine='python')

In [3]:
tr_300[tr_300['speaker']!='Ellie']

     start_time  stop_time      speaker                           value
6        62.328     63.178  Participant                            good
9        68.978     70.288  Participant                 atlanta georgia
12       75.028     78.128  Participant  um my parents are from here um
14       83.808     84.588  Participant                       i love it
16       88.458     89.968  Participant              i like the weather
..          ...        ...          ...                             ...
165     598.238    599.708  Participant                       chocolate
166     600.608    601.378  Participant                            tall
168     602.738    603.478  Participant                            thin
171     618.308    619.078  Participant                       thank you
173     620.538    621.268  Participant                         bye bye

[87 rows x 4 columns]